<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snaphappi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Snaphappi.Properties.Settings>
            <setting name="PhotoExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.jpg</string>
                        <string>.jpeg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TaskURI" serializeAs="String">
                <value>http://dev.snaphappi.com/thrift/test/api:1-0/Task</value>
            </setting>
            <setting name="WatchedFolderTaskName" serializeAs="String">
                <value>Watched folder scan</value>
            </setting>
            <setting name="WatchedFolderTaskRepetitionRate" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="InfoPollingRate" serializeAs="String">
                <value>00:00:02</value>
            </setting>
        </Snaphappi.Properties.Settings>
    </applicationSettings>
</configuration>
