<?xml version="1.0" encoding="UTF-8"?>
<Wix
	xmlns      = "http://schemas.microsoft.com/wix/2006/wi"
	xmlns:bal  = "http://schemas.microsoft.com/wix/BalExtension"
	xmlns:util = "http://schemas.microsoft.com/wix/UtilExtension"
	>
	
	<?ifndef BuildCount ?>
		<?include ..\client-installer-version\build-count.wxi ?>
	<?endif?>
	
	<Bundle
		Name         = "Snaphappi"
		Version      = "1.0.0.$(var.BuildCount)"
		Manufacturer = "Snaphappi"
		AboutUrl     = "http://www.snaphappi.com/"
		HelpUrl      = "http://www.snaphappi.com/"
		UpgradeCode  = "53b8c34d-52c7-4abc-bed2-73e4273ed133"
		>

		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseFile = "license.rtf"
				LogoFile    = "logo.png"
				/>
		</BootstrapperApplicationRef>

		<Variable
			Name      = "InstallFolder"
			Value     = "[ProgramFilesFolder]Snaphappi"
			Persisted = "yes"
			/>
		
		<util:DirectorySearch
			Path     = "[InstallFolder]\Snaphappi_TopLevelFolder"
			Variable = "TopLevelFolder"
			/>

		<Chain>
			
			<!-- The .NET workhorse app. -->
			<MsiPackage
				DisplayName = "Core engine"
				SourceFile  = "$(var.client-installer.TargetPath)"
				Vital       = "yes"
				>
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]\Uploader"/>
			</MsiPackage>

			<!-- The AIR interface app. -->
			<ExePackage
				DisplayName      = "User interface"
				SourceFile       = "$(var.Launcher.TargetPath)"
				InstallCommand   = 'arh.exe "-installAppSilent -location \"[InstallFolder]\" TopLevelFolder.air"'
				UninstallCommand = 'arh.exe "-uninstallAppSilent TopLevelFolder"'
				DetectCondition  = "TopLevelFolder"
				Cache            = "yes"
				PerMachine       = "yes"
				Vital            = "yes"
				>
				<Payload SourceFile = "arh.exe"            Compressed = "yes" />
				<Payload SourceFile = "TopLevelFolder.air" Compressed = "yes" />
			</ExePackage>
			
		</Chain>
	</Bundle>
</Wix>