<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="client_installer_bootstrapper" Version="1.0.0.0" Manufacturer="Snaphappi" UpgradeCode="53b8c34d-52c7-4abc-bed2-73e4273ed133">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<ExePackage
				SourceFile = "TopLevelFolder.exe"
				/>
			<MsiPackage
				SourceFile = "$(var.client-installer.TargetPath)"
				/>
		</Chain>
	</Bundle>
</Wix>